@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 20px;
		height: 10px;
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 100vw;
		background: #1b1b1b;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #424242;
		border-radius: 100vw;
		border: 1px solid #1b1b1b;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #424242;
	}
}
